<section class="hero is-medium has-bg-img">
  <div class="hero-body">
    <div class="container">
    </div>
  </div>
</section>
<hr>
<section class="container mainContainer">
  <div class="columns">
    <div class="column is-half pageTitle">
      <h1 class="title is-size-1 has-text-weight-bold has-text-black">What a Tasty Burger!</h1>
      <h2 class="subtitle is-size-3 has-text-weight-bold has-text-black">Eat and Make New Burgers</h2>
    </div>
    <div class="column is-half"></div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <h2 class="is-size-3 has-text-black has-text-weight-bold textChange">Burgers that have not been eaten, yet...</h2>
      <hr>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
        <br>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="column is-half">
      <h2 class="is-size-3 has-text-black has-text-weight-bold textChange">Burgers that have been eaten.</h2>
      <hr>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
        <br>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <hr>
  <div class="column is-one-quarter">
    <h2 class="is-size-4 has-text-black has-text-weight-bold textChange">Add a New Tasty Burger:</h2>
    <form class="create-form">
      <br>
      <div class="form-group is-size-5 burgers">
        <label for="burger">Burger Name:</label>
        <input class="input is-danger is-rounded" type="text" id="burger" name="name">
      </div>
      <br>
      <button class="button is-dark is-medium" type="submit">Add Burger</button>
    </form>
  </div>
</section>
<hr>
<footer class="footer has-bg-img">
  <div class="content has-text-left">
    <p>
      <strong>Created by: Curtis Allen</strong>
    </p>
  </div>
</footer>