body {
    /* background-image: url("../images/hamburger.jpg"); */
    background-color: rgb(134, 103, 72);
    background-size: contain;
    overflow: auto;
}

/* footer {
    background-image: url("../images/hamburger.jpg");
    background-size: contain;
    background-color: rgb(134, 103, 72);
} */

.burgers {
    color: black;
    font-weight: bold;
}

.has-bg-img {
    background-image: url("../images/hamburger.jpg");
    background-size: contain;
    background-color: rgb(134, 103, 72);
}

/* .pageTitle {
    background-color: rgb(134, 103, 72);
} */

.mainContainer {
    background-color: rgb(134, 103, 72);
    z-index: 1;
}